ul li img{
    width: 22px;
    height: 22px;
    margin-Top: 1px;
}

.mainBox {
    margin: 102px 0px 0px 150px;
}

.pathBox ul {
    margin: 0;
    padding: 0;
    background-color: pink;
}

.mainText p {
    margin: 80px 0px 0px 0px;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kbo-text {
    color: #686B6F;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 14px 0px 0px;
}
