.list-box {
    margin: 150px 150px 0px 150px;
}

.upload-btn {
    margin: 0px 16px 40px 0px;
    border: none;
    border-radius: 10px;
}

.upload-btn a {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center;
    width: 140px;
    height: 60px;
}

.upload-btn p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}


.table {
    font-size: 24px;
    margin-bottom: 100px;
}


.table-1 a {
    margin-right: 200px;
}

.table-2 a {
    margin-right: 710px;
}

.post-box {
        margin: 150px 0 0 150px;
    }

.post-box div {
    padding: 10px;
    margin-bottom: 10px;
}

.post-box button {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.post-box input {
    height: 20px;
    padding: 10px;
}

.post-box textarea {
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
}

/* board_fan_detail.html */
.post-content {
    margin: 150px 150px 0px 150px;
}

.post-detail {
    color: #2F2D2D;
    font-family: Noto Sans KR;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin: 14px 0px 0px;
}

.btn-delete {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}