ul li img{
    width: 22px;
    height: 22px;
    margin-Top: 1px;
}

.mainBox {
    margin: 102px 0px 0px 150px;
}

.pathBox ul {
    margin: 0;
    padding: 0;
    background-color: pink;
}

.mainText p {
    margin: 80px 0px 0px 0px;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kbo-text {
    color: #686B6F;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 14px 0px 0px;
}

.category-kbo {
    margin: 128px 0px 46px 152px;
}

.category_kbo_1 {
    display:flex;
    padding: 0;
}

.category_kbo_1 li {
    margin-right: 32px;
}

.category_kbo_2 {
    display:flex;
    padding: 0;
}

.category_kbo_2 li {
    margin-right: 32px;
    margin-bottom: 159px;
}

/* 구단 이미지 + 들어가기 */
.kbo-teams {
    display: flex;
    margin-left: 150px;
    margin-bottom: 123px;
}

.kbo-team1 {
    margin-right: 136px;
}

/* 숫자가 높을 수록 오른쪽, 숫자가 적을 수록 위로 올라감 */
.kbo-btn1 {
    transform: translate(80%, -250%);
}

.kbo-btn1 p {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
}

.kbo-btn1 button {
    border: none;
    color: #FFF;
    text-color: #ffffff;
    width: 236px;
    height: 52px;
}

.kbo-team3 {
    margin-right: 136px;
}
