* {
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

.nav {
    width: 1920px;
    height: 100px;
    display: flex;
}

.nav p {
    height: 30px
}

.title {
    flex-direction: column;
    font-weight: 900;
    margin: 26px 430px 44px 115px;
    font-size: 32px;
}

.category ul {
    display: flex;
    margin-top: 40px;
}

li {
    margin-right: 63px;
}

.pathBox ul {
    display: flex;
    margin-top: 102px;
    margin-left: 150px;
}

.pathBox li {
    margin-right: 7px;
}

