.prod-contents {
    display: flex;
}

.prod-img {
    width: 757px;
    height: 757px;
    margin: 141px 196px 0px 195px;
    background-color: pink;
}

.prod-img > img {
    width: 757px;
    height: 757px;
}

.prod-payment {
    width: 622px;
    height: 757px;
    margin: 141px 150px 0px 0px;
}

.prod-details {
    width: 520px;
    height: 317px;
    margin: 212px 137px 228px 0px;
}

#prod-title {
    color: #2F2D2D;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}

/* 가격 Box*/
#prod-prices {
    margin: 67px 0px 8px;
    background-color: yellow;
}

.prod-price {
    color: #686B6F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* 배송비 Box */
#prod-deliveries {
    margin-bottom: 28px;
    background-color:yellow;
}

.prod-delivery {
    color: #686B6F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* 상품 소개 Box*/
#prod-comment {
    color: #686B6F;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8px;
    background-color: pink;
}

#prod-comment > p {
    margin: 0px 0px 8px 0px;
}
