.product-selection {
    margin: 186px 150px 200px;
    display: flex;
}

.product-selection-box {
    margin-right: 150px;
}

.product-selection-box select {
        width: 440px;
        height: 60px;
        outline: none;
        appearance: none;
        padding: 5px;
        font-size: 20px;
        color: #333;
        border-radius: 10px;
        margin-bottom: 40px;
}



#selected-image-container-1 {
    display: none;
}