{% extends 'board/board_nav.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/board_kbo.css' %}">
    <link rel="stylesheet" href="{% static 'css/board_kbo_goods.css' %}">

    <div class="container">

        <div class="contents">
            <div class="mainBox">
                <div class="pathBox">
                    <ul>
                        <li>
                            <a href="{% url 'board:main' %}"><img src="{% static 'image/icon_home_3.png' '%}" class="icon_home"></a>
                        </li>
                        <li class="link_back"><a href="{% url 'board:main' %}">HOME</a></li>
                        <li class="link_back">/</li>
                        <li class="link_back"><a href="{% url 'board:kbo' %}">KBO 야구</a></li>
                        <li class="link_back">/</li>
                        <li><a href="{% url 'board:samsung' %}">삼성 라이온즈</a></li>
                    </ul>
                </div>
                <div class="mainText">
                    <p>삼성 라이온즈</p>
                </div>
                <p class="kbo-text">유니폼 비교하기</p>
            </div>
            <div class="category-kbo">
                <ul class="category_kbo_1">
                    <li>전체</li>
                    <li>|</li>
                    <li>유니폼</li>
                    <li>|</li>
                    <li>응원용품</li>
                    <li>|</li>
                    <li>의류</li>
                </ul>
            </div>
            <div class="goods-contents">
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_002.png'%}">
                    <p class="goods-title">2024 프로페셔널 선데이 모자</p>
                    <p class="goods-hashtag">의류</p>
                    <p class="goods-price">42,000원</p>
                </div>
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_003.png'%}">
                    <p class="goods-title">프로페셔널 올드(2002) 유니폼</p>
                    <p class="goods-hashtag">의류</p>
                    <p class="goods-price">109,000원</p>
                </div>
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_004.png'%}">
                    <p class="goods-title">2023 춘추 점퍼</p>
                    <p class="goods-hashtag">의류</p>
                    <p class="goods-price">42,000원</p>
                </div>
            </div>
            <div class="goods-contents">
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_005.png'%}">
                    <p class="goods-title">응원타올</p>
                    <p class="goods-hashtag">응원도구</p>
                    <p class="goods-price">10,000원</p>
                </div>
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_006.png'%}">
                    <p class="goods-title">팔각 응원봉</p>
                    <p class="goods-hashtag">응원도구</p>
                    <p class="goods-price">10,000원</p>
                </div>
                <div class="goods-box">
                    <img src="{% static 'image/kbo_samsung_007.png'%}">
                    <p class="goods-title">공식 응원봉 오피셜 라이트 스틱</p>
                    <p class="goods-hashtag">응원도구</p>
                    <p class="goods-price">55,000원</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}