{% extends 'board/board_nav.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/board_kbo.css' %}">
    <link rel="stylesheet" href="{% static 'css/board_prod.css' %}">

    <div class="container">

        <div class="contents">
            <div class="mainBox">
                <div class="pathBox">
                    <ul>
                        <li>
                            <a href="{% url 'board:main' %}"><img src="{% static 'image/icon_home_3.png' '%}" class="icon_home"></a>
                        </li>
                        <li class="link_back"><a href="{% url 'board:main' %}">HOME</a></li>
                        <li class="link_back">/</li>
                        <li class="link_back"><a href="{% url 'board:kbo' %}">KBO 야구</a></li>
                        <li class="link_back">/</li>
                        <li><a href="{% url 'board:samsung' %}">NC 다이노스</a></li>
                    </ul>
                </div>
            </div>
            <div class="prod-contents">
                <div class="prod-img">
                    <img src="{% static 'image/kbo_nc_prod_001.png' %}" id="nc_001">
                </div>
                <div class="prod-payment">
                    <ul class="prod-details">
                        <li id="prod-title">2023 어센틱 벚꽃 유니폼</li>
                        <li id="prod-prices">
                            <span class="prod-price">판매가</span>
                            <span class="prod-price-num">154,000원</span>
                        </li>
                        <li id="prod-deliveries">
                            <span class="prod-delivery">배송비</span>
                            <span class="prod-delivery-num">3,000원</span>
                        </li>
                        <li id="prod-comment">
                            <p>엔씨다이노스의 2023 어센틱 벚꽃 유니폼입니다.</p>
                            <p>유니폼 착용일정은 2023년 4월 9일(키움), 4월 21일(롯데), 7월 13일(롯데) 입니다.</p>
                            <p>자세한 내용은 하단의 상세 설명을 꼭 확인해 주세요!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/compare_product.js' %}"></script>
{% endblock %}