<!DOCTYPE html>
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/board_nav.css' %}">

<body>
    <div class="container">
        <div class="nav">
            <p class="title">
                <a href="{% url 'board:main' %}">GOO:D</a></p>
            <div class="category">
                <ul>
                    <li><a href="{% url 'board:kbo' %}">KBO 야구</a></li>
                    <li>K리그 축구</li>
                    <li>KBL 농구</li>
                    <li>KOVO 배구</li>
                </ul>
            </div>
        </div>
        {% block content %}

        {% endblock %}

    </div>
</body>
</html>