{% extends 'board/board_nav.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/board_kbo.css' %}">
    <div class="container">

        <div class="contents">
            <div class="mainBox">
                <div class="pathBox">
                    <ul>
                        <li>
                            <a href="{% url 'board:main' %}"><img src="{% static 'image/icon_home_3.png' '%}" class="icon_home"></a>
                        </li>
                        <li class="link_back"><a href="{% url 'board:main' %}">HOME</a></li>
                        <li class="link_back">/</li>
                        <li><a href="{% url 'board:kbo' %}">KBO 야구</a></li>
                    </ul>
                </div>
                <div class="mainText">
                    <p>KBO 야구</p>
                </div>
                <p class="kbo-text"><a href="{% url 'board:compare_products' %}">유니폼 비교하기</a></p>
            </div>
            <div class="category-kbo">
                <ul class="category_kbo_1">
                    <li><a href="{% url 'board:samsung' %}">삼성 라이온즈</a></li>
                    <li>|</li>
                    <li><a href="{% url 'board:nc' %}">NC 다이노스</a></li>
                    <li>|</li>
                    <li>한화 이글스</li>
                    <li>|</li>
                    <li>롯데 자이언츠</li>
                    <li>|</li>
                    <li>KT 위즈</li>
                </ul>
                <ul class="category_kbo_2">
                    <li>키움 히어로즈</li>
                    <li>|</li>
                    <li>KIA 타이거즈</li>
                    <li>|</li>
                    <li>두산 베어스</li>
                    <li>|</li>
                    <li>SSG 랜더스</li>
                    <li>|</li>
                    <li>LG 트윈스</li>
                </ul>
            </div>
            <div class="kbo-teams">
                <div class="kbo-team1">
                    <img src="{% static 'image/kbo_samsung_000.png' %}">
                    <div class="kbo-btn1">
                        <p>삼성 라이온즈</p>
                        <a href="{% url 'board:samsung' %}">
                            <button>들어가기</button>
                        </a>
                    </div>
                </div>
                <div class="kbo-team2">
                    <img src="{% static 'image/kbo_nc_000.png' %}">
                    <div class="kbo-btn2">
                        <p>NC 다이노스</p>
                        <a href="{% url 'board:nc' %}">
                            <button>들어가기</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="kbo-teams">
                <div class="kbo-team3">
                    <img src="{% static 'image/kbo_kt_000.png' %}">
                    <div class="kbo-btn3">
                        <p>KT 위즈</p>
                        <button>들어가기</button>
                    </div>
                </div>
                <div class="kbo-team4">
                    <img src="{% static 'image/kbo_lt_000.png' %}">
                    <div class="kbo-btn4">
                        <p>롯데 자이언츠</p>
                        <button>들어가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}