{% extends 'board/board_nav.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="contents">
        <div class="mainBox">
            <div class="pathBox">

                <ul>
                    <li>
                        <a href="{% url 'board:main' %}">HOME</a>
                    </li>
                    <li>/</li>
                    <li><a href="{% url 'board:kbo' %}">KBO 야구</a></li>
                </ul>
                <p><a href="{% url 'board:main' %}">HOME</a></p>
                <p>KBO 야구</p>
            </div>

            <h1>KBO 야구</h1>
        </div>
    </div>
</div>
{% endblock %}